*{
    background: #455F9E;
}

header {
    display: flex;
    font-size: 20px;
    padding: 10px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.logo {

    text-decoration: none;
    font-size: 35px;
    color: #455F9E;
    font-weight: 600;
}

li {

    display: inline-flex;
}

li a {

    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-right: 25px;
}

li a:hover {
    color: red;
    cursor: pointer;
}

.header-btn {
    background-color: transparent;
    color: aliceblue;
    font-size: 15px;
    margin-right: 12px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 9px #F8F9FD;
    border-color: #455F9E;
}

.header-btn:hover {
    color: #455F9E;
    cursor: pointer;
}