*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .loader{
    height: 25px;
    width: 25px;
    background: red;
position: relative;


}
.loader .ball{
    height: 25px;
    width: 25px;
    position: absolute;
    
    border-radius: 50px;
}
.loader .upper{
    left: 0;
    top: -25px;
background:  #b41717;
animation:upper 1s infinite;
}
@keyframes upper{
    100%{
        top: 25px;
    }
}
.loader .right{
   bottom: 0;
    right: -25px;
background:  #b6a831;
animation:right 1s infinite;
}
@keyframes right{
    100%{
        right: 25px;
    }
}
.loader .lower{
    bottom:  -25px;
    right: 0;
background:  #2deb07;
animation:lower 1s infinite;
}
@keyframes lower{
    100%{
        bottom: 25px;
    }
}
.loader .left{
    left: -25px;
    bottom: 0;
background:  #5003ca;
animation:left 1s infinite;
}
@keyframes left{
    100%{
        left: 25px;
    }
}