*{
    font-family: 'Poppins',sans-serif;
}
body{
    overflow: hidden;
}
video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0%;
    left: 0%;
    z-index: -1;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: rgba(165, 165, 165, 0.15);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(265, 265, 265, 0.107);
    box-sizing: border-box;
    border-radius: 2em;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: wheat;
    text-align: center;   
}
 .login-box .user-box{
    position: relative;

}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
}
.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: 0.5s ease;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}
.login-box form button{
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding: 10px 120px;
    color: black;
    font-size: 16px;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s ease;
    margin-top: 50%;
    letter-spacing: 4px;
    border: 2px solid white;
}
.remeber{
    color: white;

}
.login-box button:hover{
    background-color: transparent;
    color: #fff;
}

